server:
  port: 8081

google:
  recaptcha:
    secret: 6Lc18AgsAAAAABycgeBVuZeh9U8q3kyXDOsZMCM8

spring:
  application:
    name: auth-service

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1050885924853-pgkltulci69k13e183l8hor95a8c03qt.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: https://listtodo.duckdns.org/login/oauth2/code/google
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub  # OIDC standard

  datasource:
    url: jdbc:postgresql://database-1.cmlmuc4mi04f.us-east-1.rds.amazonaws.com:5432/authdb
    username: postgres
    password: Gudda1103
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: always

  mail:
    host: smtp.gmail.com
    port: 587                     # use 465 if 587 is blocked on your normal network
    username: tanyastpauls@gmail.com   # e.g. your@gmail.com
    password: qaaejupcpaodwyie   # 16-char App Password (NOT your Google password)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true        # fail fast if TLS not negotiated
          ssl.trust: smtp.gmail.com
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
        debug: true               # turn off later

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.mail: DEBUG

app:
  jwt:
    secret: ee6b0a4c9076e43844b00924e47144e97d704bc1764471cdb06c20023f96837a
    accessTokenValiditySeconds: 900
    refreshTokenValiditySeconds: 1209600
  registration:
    tokenValidityHours: 24
  mail:
    from: tanyastpauls@gmail.com       # or a verified “Send mail as” alias
