spring:
  datasource:
    # Example: use PostgreSQL in production. For quick dev you can switch to H2 (see commented H2 block)
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: 5432
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  logging:
  level:
    org.springframework.security: DEBUG

#  mail:
#    host: localhost
#    port: 1025
#    username:
#    password:
#    properties:
#      mail.smtp.auth: false
#      mail.smtp.starttls.enable: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: tanyastpauls@gmail.com
    password: vznptrvijsivfvqp   # <-- no spaces
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
#          connectiontimeout: 5000
#          timeout: 5000
#          writetimeout: 5000
        debug: true
#  security:
#    oauth2:
#          client:
#            registration:
#              google:
#                client-id:
#                client-secret:
#                redirect-uri:
#                scope:
#                  - openid
#                  - profile
#                  - email

server:
  port: 8081

app:
  jwt:
    secret: 12345678912345678912345678912345
    accessTokenValiditySeconds: 900   # 15 minutes
    refreshTokenValiditySeconds: 1209600 # 14 days
  registration:
    tokenValidityHours: 24


# For fast dev switch to H2 (uncomment and override datasource)
# spring:
#   datasource:
#     url: jdbc:h2:mem:authdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
#     driver-class-name: org.h2.Driver
#     username: sa
#     password:
