services:
#  postgres:
#    image: postgres:16
#    container_name: postgresdb
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: 5432
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgresdata:/var/lib/postgresql/data
#      - ./postgres-init:/docker-entrypoint-initdb.d


  auth-service:
    build: ./auth-service
    container_name: auth-service
    environment:
      DB_URL: jdbc:postgresql://database-1.cmlmuc4mi04f.us-east-1.rds.amazonaws.com:5432/authdb
      DB_USER: postgres
      DB_PASS: Gudda1103
      JWT_SECRET: ee6b0a4c9076e43844b00924e47144e97d704bc1764471cdb06c20023f96837a
    ports:
      - "8081:8081"

  todo-service:
    build: ./todo-service
    container_name: todo-service
    environment:
      DB_URL: jdbc:postgresql://database-1.cmlmuc4mi04f.us-east-1.rds.amazonaws.com:5432/tododb
      DB_USER: postgres
      DB_PASS: Gudda1103
      JWT_SECRET: ee6b0a4c9076e43844b00924e47144e97d704bc1764471cdb06c20023f96837a
    ports:
      - "8082:8082"

volumes:
  postgresdata:
